Host yoshimi
  User roberto
  Hostname yoshimi.totaltrash.xyz
  Port 48615

## Norway
Host fram
  Hostname fram.sigma2.no
  User roberto
Host saga
  Hostname saga.sigma2.no
  User roberto
Host sandel
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname sandel.chem.uit.no
Host woolf
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname woolf.chem.uit.no

## LUMI
Host lumi
  Hostname lumi.csc.fi
  User rodiremi2
  IdentityFile ~/.ssh/csc_ed25519.pub

## Algorithmiq
Host algone algotwo
  Hostname %h.clusters.algorithmiq.fi
  User roberto
  IdentityFile ~/.ssh/id_ed25519
Host azure2 azure3
  Hostname %h.algorithmiq.fi
  User robertoeikas
Host bebe
  Hostname %h.algorithmiq.fi
  User robertodr
  Port 10022
Host polaris
  Hostname %h.algorithmiq.fi
  User robertoeikas

## Karolina
Host karolina
  Hostname karolina.it4i.cz
  User it4i-robdre

## Vega
Host vega
  Hostname login.vega.izum.si
  User remigior
  IdentityFile ~/.ssh/vega_ed25519.pub

## MareNostrum5
Host gpp gpp1 glogin1 glogin1.bsc.es
  HostName glogin1.bsc.es
  User algo066442

Host gpp2 glogin2 glogin2.bsc.es
  HostName glogin2.bsc.es
  User algo066442

Host acc acc1 alogin1 alogin1.bsc.es
  HostName alogin1.bsc.es
  User algo066442

Host leonardo
  User rdiremig
  HostName login.leonardo.cineca.it
  IdentityAgent "~/.1password/agent.sock"
  IdentityFile ~/.ssh/leonardo_ed25519.pub
  CertificateFile ~/.ssh/leonardo_ed25519-cert.pub
  IdentitiesOnly yes

