Host yoshimi
  User roberto
  Hostname yoshimi.totaltrash.xyz
  IdentityFile ~/.ssh/pulsedemon_ed25519
  Port 48615

## Norway
Host fram
  Hostname fram.sigma2.no
  User roberto
Host saga
  Hostname saga.sigma2.no
  User roberto
Host repo.respect.savba.sk
  HostName repo.respect.savba.sk
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/minazo_rsa.pub
Host sandel
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname sandel.chem.uit.no
Host woolf
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname woolf.chem.uit.no

## Virginia Tech
Host cascades cascades1 cascades2
  HostName %h.arc.vt.edu
Host dragonstooth dragonstooth1 dragonstooth2
  HostName %h.arc.vt.edu
Host newriver newriver1 newriver2
  HostName %h.arc.vt.edu
Host tinkercliffs tinkercliffs1 tinkercliffs2
  HostName %h.arc.vt.edu
Match Host *.arc.vt.edu
  User drobe88
  ForwardX11 yes
  IdentityFile ~/.ssh/minazo_rsa

## JUWELS
# cluster
Host juwels juwels0? juwels1?
  Hostname %h.fz-juelich.de
# booster
Host juwels-booster juwels2?
  Hostname %h.fz-juelich.de
# set up for both
Match Host *.fz-juelich.de
  User diremigio1
  IdentityFile ~/.ssh/pulsedemon_ed25519
  ForwardX11 Yes
  ForwardX11Trusted No
  ForwardAgent No
  AddKeysToAgent Confirm
  LogLevel Verbose

## Vega
Host vega
  Hostname login.%h.izum.si
  User eurobertodr
  IdentityFile ~/.ssh/vega_ed25519
  ForwardAgent No
  LogLevel Verbose

## Karolina
Host karolina
  Hostname %h.it4i.cz
  User it4i-robedr
  AddressFamily inet
  IdentityFile ~/.ssh/karolina_ed25519
  ForwardAgent No
  LogLevel Verbose

## machines in Sweden
Host monkey
  Hostname 130.237.52.109
  User roberto
## Dardel
Host dardel
  HostName %h.pdc.kth.se
  User roberto2
  IdentityFile ~/.ssh/pulsedemon_ed25519
Host dt0 dt1
  Hostname %h.pdc.kth.se
  User roberto2
  ProxyJump dardel
  ProxyCommand ssh -o GSSAPIDelegateCredentials=yes -o GSSAPIKeyExchange=yes -o GSSAPIAuthentication=yes %r@%h.pdc.kth.se
## Hosts we want to authenticate to with Kerberos
#Host *.kth.se *.kth.se.
#  User roberto2
#  AddressFamily inet
#  # User authentication based on GSSAPI is allowed
#  GSSAPIAuthentication yes
#  # Key exchange based on GSSAPI may be used for server authentication
#  GSSAPIKeyExchange yes
## Hosts to which we want to delegate credentials. Try to limit this to
## hosts you trust, and were you really have use for forwarded tickets.
#Host *.csc.kth.se *.csc.kth.se. *.nada.kth.se *.nada.kth.se. *.pdc.kth.se *.pdc.kth.se.
#  User roberto2
#  # Forward (delegate) credentials (tickets) to the server.
#  GSSAPIDelegateCredentials yes
#  # Prefer GSSAPI key exchange
#  PreferredAuthentications gssapi-keyex,gssapi-with-mic

Host tetralith tetralith1 tetralith2
  HostName %h.nsc.liu.se
  User x_robdi
Host sigma
  HostName %h.nsc.liu.se
  User x_robdi
Host berzelius berzelius1 berzelius2
  HostName %h.nsc.liu.se
  User x_robdi

Host n166-p44
  HostName 130.129.166.44
  User roberto

## LUMI
# test node in Grenoble
Host lumi
  Hostname lumi.csc.fi
  User rodiremi
  IdentityFile ~/.ssh/pulsedemon_ed25519

## Oracle Cloud
Host squirrel
  Hostname 132.145.231.218
  User ubuntu
  IdentityFile ~/.ssh/oracle_ed25519

## Borgbase
Host *.repo.borgbase.com
  IdentityFile ~/.ssh/borgbase_ed25519
