Host yoshimi
  User roberto
  Hostname yoshimi.totaltrash.xyz
  IdentityFile ~/.ssh/pulsedemon_ed25519
  Port 48615

## Norway
Host fram
  Hostname fram.sigma2.no
  User roberto
Host saga
  Hostname saga.sigma2.no
  User roberto
Host sandel
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname sandel.chem.uit.no
Host woolf
  ForwardX11 Yes
  ForwardX11Trusted No
  Hostname woolf.chem.uit.no

## machines in Sweden
Host monkey
  Hostname 130.237.6.44
  User roberto
## Dardel
Host dardel
  HostName %h.pdc.kth.se
  User roberto2
  IdentityFile ~/.ssh/pulsedemon_ed25519
Host dt0 dt1
  Hostname %h.pdc.kth.se
  User roberto2
  ProxyJump dardel
  ProxyCommand ssh -o GSSAPIDelegateCredentials=yes -o GSSAPIKeyExchange=yes -o GSSAPIAuthentication=yes %r@%h.pdc.kth.se
## Hosts we want to authenticate to with Kerberos
#Host *.kth.se *.kth.se.
#  User roberto2
#  AddressFamily inet
#  # User authentication based on GSSAPI is allowed
#  GSSAPIAuthentication yes
#  # Key exchange based on GSSAPI may be used for server authentication
#  GSSAPIKeyExchange yes
## Hosts to which we want to delegate credentials. Try to limit this to
## hosts you trust, and were you really have use for forwarded tickets.
#Host *.csc.kth.se *.csc.kth.se. *.nada.kth.se *.nada.kth.se. *.pdc.kth.se *.pdc.kth.se.
#  User roberto2
#  # Forward (delegate) credentials (tickets) to the server.
#  GSSAPIDelegateCredentials yes
#  # Prefer GSSAPI key exchange
#  PreferredAuthentications gssapi-keyex,gssapi-with-mic

## LUMI
Host lumi
  Hostname lumi.csc.fi
  User rodiremi
  IdentityFile ~/.ssh/pulsedemon_ed25519

## Oracle Cloud
Host squirrel
  Hostname 132.145.231.218
  User ubuntu
  IdentityFile ~/.ssh/oracle_ed25519

## Borgbase
Host *.repo.borgbase.com
  IdentityFile ~/.ssh/borgbase_ed25519

## Algorithmiq
Host algone algotwo
  HostName %h.clusters.algorithmiq.fi
  User roberto
  ForwardAgent yes
  IdentityFile ~/.ssh/id_ed25519
Host bebe
  Hostname %h.algorithmiq.fi
  User roberto
  Port 10022
